<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gestão+{% endblock %}</title>
    <link href="{{ url_for('static', filename='css/tailwind/output.css') }}" rel="stylesheet">
    {% block extra_head %}{% endblock %}
</head>
<body class="bg-gray-50 dark:bg-gray-900">
    {% include '/commom/sidebar.html' %}

    <main class="p-10 sm:ml-64 pt-24">
        {% block content %}{% endblock %}
    </main>

    {% block extra_scripts %}{% endblock %}
</body>
</html>